@media (max-width: 749px) {
    #shopify-section-template--14796969115707__image_banner .banner__buttons .button  {
        padding: 10px 3vw;
        font-size: 2vw;
        min-width: inherit;
        min-height: inherit;
    }
} 
