@media (max-width: 749px) {
    #shopify-section-template--14796969115707__image_banner .banner__buttons .button  {
        font-size: 1rem;
        min-height: 40px;
        min-width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
} 
